<!--
  ~ Smile Email.
  ~
  ~ @author    Oksana Borodina
  ~ Copyright (c) 2020 Smile.
  -->
<!--@subject {{trans "Answer from %store_name" store_name=$store.getFrontendName()}} @-->
<!--@vars {
"var name":"Customer Name",
"var answer":"Answer",
} @-->

{{template config_path="design/email/header_template"}}

<p class="greeting">{{trans "Hello %name," name=$name}}</p>

<p>{{trans "Answer: %answer" answer=$answer}}</p>

{{template config_path="design/email/footer_template"}}
